@page "/imagecards"

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="https://www.bootdey.com/image/350x260/40E0D0/000000" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">
                        <div class="authors-container">
                            <div class="author">
                                <a class="card-user account-photo  account-product-owner">
                                    <div class="mask">
                                        <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Thumb">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 3,461</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 42</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">More Details</a>
                        <a class="btn btn-neutral btn-round" href="#">Live Preview</a>
                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>
                            Product 1
                            <div class="time pull-right">Free</div>
                        </h3>
                        <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                        <p>Smaill description</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="https://www.bootdey.com/image/350x260/008080/000000" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">
                        <div class="authors-container">
                            <div class="author">
                                <a class="card-user account-photo  account-product-owner">
                                    <div class="mask">
                                        <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Thumb">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 162</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 23</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">More Details</a>
                        <a class="btn btn-neutral btn-round" href="#">Live Preview</a>
                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>Product 2<div class="time pull-right">$19</div></h3>
                        <div class="circle-blue"><i class="fa fa-circle-o"></i></div>
                        <p>Small description</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="https://www.bootdey.com/image/350x260/4682B4/000000" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">
                        <div class="authors-container">
                            <div class="author">
                                <a class="card-user account-photo  account-product-owner">
                                    <div class="mask">
                                        <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Thumb">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 621</b>
                            <b class="comments-icon"><i class="fa fa-comment"></i> 27</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">More Details</a>
                        <a class="btn btn-neutral btn-round" href="#">Live Preview</a>
                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>
                            Product 3
                            <div class="time pull-right">$39</div>
                        </h3>
                        <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                        <p>Small description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>