@page "/navbarexperiment"

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end" >
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start ">
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>Itemkj ljaslkd jalksjdlakjsd lkajsd lkajs ldkaj lsdkja lksdj</span> </a>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Item</span></a>
                    <ul class="list-unstyled ps-0" style="width: 200px; overflow: hidden;">
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                HomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHome
                            </button>
                            <div class="collapse" id="home-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="col ps-md-3 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
               class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-heart bi-lg py-2 p-1"></i> Menu</a>
            <div class="page-header pt-3">
                <h2>Bootstrap 5 Sidebar Menu - Simple</h2>
            </div>
          
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="image-container">
                        <img src="camel.jpg" />
                    </div>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                    <p>sadljlaksjd lakjsdlk jasld kjals dkjal skdj laksjd laksjd lkajs dlkajs ldkja lksdj lsa djs</p>
                </div>
            </div>
        </main>
    </div>
</div>